"<h1><big><span style="color:#000000"><strong>لغة الإنسان العادي والإنسان المفكر:</strong></span></big></h1>

<ul>
	<li style="list-style-type:disc"><span style="color:#000000"><mark>يعرف ويمتلك المفكر من عشرين إلى ثلاثين ألف معنى، بينما الإنسان العادي يعرف من خمسة آلاف إلى ستة آلاف معنى.</mark></span></li>
	<li style="list-style-type:disc"><span style="color:#000000">يتقن المفكر مهارات النحو والصرف والبلاغة، بينما الإنسان العادي لا يتقنها.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">يتحدث المفكر بلغة واضحة وفصيحة في معظم الوقت، بينما الإنسان العادي يتحدث بلغة عامية في معظم الوقت.&nbsp;</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">يطور المفكر من مصطلحاته ويستخدمها، المفكر العادي لا يهتم بالمصطلحات ولا يستخدمها.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">اللغة غاية وهدف من أهداف المفكر بحيث يحفظ خمس مصطلحات جديدة كل شهر مثلًا، بينما الإنسان العادي لا تشكل اللغة هدفًا لديه.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">ينتبه المفكر لكلماته ويفكر فيها قبل أن يتحدث بها، بينما الإنسان العادي يتهور ويعبّر ثم يندم على استخدامه للكلمة.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">يستخدم المفكر لغة كثيفة في ذهنه (يفصّلها في عقله بشكل واضح من خلال توليد مرادفات لها وأمثلة ويتخيل خطواتها ومراحلها) ثم يعبر عنها باختصار وإيجاز لا يخل بكثافة معانيها الذهنية، بينما الإنسان العادي يستخدم لغة سطحية في ذهنه ومشوشة وتراه يعبّر عنها بعمومية.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">يتعب المفكر في التعبير الدقيق عن فكرته فاللغة هي من تساعده على التفكير والخيال، بينما الإنسان العادي يتكاسل عن التعبير ولا يفكر كثيرًا في المعاني والكلمات ويتخيل الأشياء بشكل عام وضبابي.</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#000000">والآن <mark>لتكون مفكرًا</mark> عميقًا، فإن أي فكرة تلمع في ذهنك <bdi>استخدم معها الخطوات التالية -قبل التعبير عنه</bdi>ا شفهيًا أو <mark>كتابيًا-:</mark></span></p>

<p>&nbsp;</p>

<p><span style="color:#000000"><strong>مهارات التعبير بوضوح عن اللغة في الذهن</strong></span></p>

<ol>
	<li style="list-style-type:decimal"><span style="color:#000000">تخيل الفكرة: تخيل لونها وقل في عقلك (لونها أزرق، وردي، ذهبي) تخيل رائحتها وعبر بشكل دقيق عنها (رائحتها تشبه الليمون) لكن لا تقل: رائحتها زكية، سيئة؛ لأن المفكر لا يستخدم كلمات عمومية (جيد، سيء، رائع) المفكر يستخدم التشبيهات كثيرًا من أجل تخيل فكرته (شكلها دائري يشبه البدر، لونها أخضر فاتح يشبه العشب، وهكذا)</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">تخيل مراحل الفكرة بدقة: لو كانت فكرتك أن تؤلف كتابًا فتخيل بوضوح مراحل الكتابة فتخيل المقدمة ثم تخيل تفاصيل كتابتك لفصول الكتاب ثم تخيل تفاصيل كتابتك للخاتمة.</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">ابحث عن مفردات ومرادفات: هل توقف ذهنك عند جزء من <mark>الفكرة وشعرت بالتعب والإعياء؟ حينها عليك أن تبحث في المعاجم والقواميس والكتب والدراسات ما يعبّر عن الفكرة أو الجزء المفقود منها. (مثلًا لقد تخيلت قلمًا له ثلاثة ألوان من الحبر (أحمر، أزرق، أصفر) تخيل ذهنك ضوءًا للقلم لكنك لم تتمكن من فهم هذا الجزء من الفكرة بوضوح، حينها ابحث عن كلمة ضوء ومرادفاتها (كهرباء</mark>، طاقة ضوئية، ليزر، اشعاع) لقد وجد ذهنك ما يريد إنه كان يتخيل قلم ليزر بثلاث ألوان! يا له من مخترع جديد!</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">استخدم الاستعارات: الاستعارة من أدق أساليب البيان وأفصحها، وهي &quot;نقل اللفظ من معناه الذي عُرف به إلى معنى آخر لم يعرف به&quot; (انظر كتاب البلاغة فنونها وأفنانها للدكتور فضل عباس، ص١٥٧) فكلمة النور تعني الضوء، وكلمة الظلام تعني السواد وذهاب الضوء، وقد استعار القرآن كلمة النور لمعنى الإيمان وكلمة الظلام لمعنى الكفر {اللَّهُ وَلِيُّ الَّذِينَ آمَنُوا يُخْرِجُهُم مِّنَ الظُّلُمَاتِ إِلَى النُّورِ} فما هي الاستعارات التي تعبّر عن فكرتك وتنقلها إلى معنى آخر؟</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">استخدم التشبيهات: التشبيه بين أمرين بأن تجد اشتراكات بينهما مستخدمًا أدوات التشبيه: ( مثل، الكاف، كأن): هذه السحابة تشبه السمك عندما يقفز من الماء، كأن القمر أنا!، كأن الإيمان نور، وهكذا.</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">أعِْد تشغيل الفكرة: الآن بعد أن تخيلت الفكرة قم بتشغيلها من جديد، وتذكر التفاصيل التي تخيلتها مرة أخرى، وعدّل بشكل أكبر على الفكرة.</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">عدّل الكلمات: هل يمكنك استبدال هذه الكلمة بكلمة أفضل؟ ماهي؟&nbsp;</span></li>
	<li style="list-style-type:decimal"><span style="color:#000000">عدّل أسلوب التعبير عن الفكرة: إذا كنت ستكتب الفكرة فما هو الأسلوب الذي ستتّبعه؟ وإن كنت ستعبّر عنها شفهيًا فكيف ستبدأ؟ وكيف سيكون صوتك ولغة جسدك؟ ما آخر جملة تقولها؟ كن دقيقًا أكثر.</span></li>
</ol>

<p>&nbsp;</p>

<p><span style="color:#000000">تخيل، أن هذه الخطوات كلها تؤدّيها وتمارسها في ذهنك فقط دون كتابة وتحدث!.</span></p>

<p><span style="color:#000000">كلما تعمقت الفكرة في ذهنك واتضحت، كانت دقتها تشبه جهاز الرائي (التلفزيون) HD !&nbsp;</span></p>

<p><span style="color:#000000">مما يعني أنك ستنجح في التعبير عنها إذا تابعت الخطوات القادمة:</span></p>

<p>&nbsp;</p>

<p><span style="color:#000000"><strong>مهارات التعبير والتواصل الواضح والدقيق (الخارجية)</strong></span></p>

<p>&nbsp;</p>

<p><span style="color:#000000"><strong><img src="https://lh6.googleusercontent.com/IzmlzTkR8ltA2xp-JiSPbc0cs1ytHqcj3v6CnCdVd0uVtdvWavMScxmY00Ir39WirIdFPguoej9-_RJJvpgK2fZajeH24gL7OlSvAG_AuDnX2YNVcTwrci6hNEzgU5iFb-iQ3Cwr" style="height:601px; width:602px" /></strong></span></p>

<p><span style="color:#000000">تتعمق في ذهنك، وتغذي فكرتك بالتفاصيل وتشبعها، لكن لما تتحدث عنها فالمطلوب هو أن تختصرها دون إخلال بتفاصيلها!&nbsp;</span></p>

<p>&nbsp;</p>

<ul>
	<li style="list-style-type:disc"><span style="color:#000000">عبّر عن فكرتك بكلمات دقيقة: تجنب التعميمات</span></li>
</ul>

<p><span style="color:#000000">صنّف الباحث آرثر ل كوستا التعبيرات الغامضة إلى الفئات التالية:</span></p>

<ul>
	<li style="list-style-type:disc"><span style="color:#000000">التعبيرات الكلية الشاملة، مثل: دائمًا، الجميع، أبدًا، الكل.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">التعبيرات الإجرائية (الأفعال): يفهم، يقدّر، يعرف.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">الضمائر التي لا تعود إلى شخص معين بدقة: هم، الذين، جميعهم.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">أسماء الجمع: النساء، المعلمون، الحيوانات، الأطفال.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">القواعد والتعليمات: يتعين، يجب، ينبغي.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">أفعال التفضيل: أحسن، أفضل، أجمل.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">التعميمات المشوّهة: كلام فارغ!، حثالة من البشر، رعاع الناس، أغبياء! مضيعة وقت، خداع وغش.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">أصوات ملأ الفراغ: آه، اها، اممم، اوه، (واو)، (يوه)، أوف.</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#000000"><strong>كيف تستوضح أفكار الآخرين؟</strong></span></p>

<p><span style="color:#000000">يستخدم البعض كلمات وعبارات غامضة مليئة بالانفعال والانزعاج والضيق، حينها تأكد من المعنى الذي يتحدث عنه واسأله عن قصده بشكل محدد، عندما يحدثك أحدهم عن خطوات القيام بشيء ما فدقّق في ما يقول وراجع معه الخطوات والمفاهيم.</span></p>

<p>&nbsp;</p>

<p><span style="color:#000000">مثال:</span></p>

<p><span style="color:#000000">المدير: قم بجَمْعِ الموظفين في قاعة الاجتماع (س).</span></p>

<p><span style="color:#000000">الموظف -يمارس الكفاح من أجل الدقة والتفكير والتواصل الواضح والدقيق-: من تقصد بالموظفين؟ هل كل موظفي الشركة؟ أم قسم معين؟ كما أنه توجد قاعتان باسم (س) فهل تقصد القاعة (س) في الطابق الأول أم قاعة (س) في الطابق الثاني؟</span></p>

<p>&nbsp;</p>

<p><span style="color:#000000"><img src="https://lh6.googleusercontent.com/7P1xIFZp_rNz8K3KtD4FJecroI1jTZmyiYjwPWfwA1dk_-IMVUXHj_sMKcdCIS1G2f5AqyHNGqTqekJyVrb2DqehICR6bUHSfnDHRrhI9e6HB4RUAJExICVy9yfsESxU0haVpE2f" style="height:601px; width:602px" /></span></p>

<p>&nbsp;</p>

<p><span style="color:#000000"><strong>ما أسرار سرعة البديهة والإجابات الذكية؟&nbsp;</strong></span></p>

<p><span style="color:#000000">لسرعة البديهة عوامل وأسباب كثيرة، منها: سعة الاطلاع والثقافة، وسعة المفردات، وشدة الذكاء، والثقة بالنفس ، ومنها أيضًا وهو ما يهمنا هنا (التحضير والتخطيط وتخيل الإجابة والموقف قبل التحدث)</span></p>

<p><span style="color:#000000">عندما يتخيل الإنسان أسئلة الآخرين التي ستُلقى عليه في ندوة أو درس أو مقابلة وظيفية، ويحضّر الإجابات بدقة ويتخيل مجموعة من الإجابات ويطبق العصف الذهني عليها - وقد تحدثنا عن العصف الذهني في مقال سابق وكيفية توليد الحلول والإجابات ذهنيًا- ثم يختار أفضل تلك الإجابات وأكثرها اتزانًا، وعندما تحين ساعة الصفر يُبهرنا هذا الإنسان بإجابته نعلّق: ما أسرعه! يا لذكائه!</span></p>

<p><span style="color:#000000">&nbsp;والسر البسيط المنيع كان في: التحضير ثم التحضير ثم التحضير.</span></p>

<p>&nbsp;</p>

<p><span style="color:#000000"><strong>لماذا يُطرِق الحكماء بالساعات قبل الإجابة؟</strong></span></p>

<p><span style="color:#000000">لو قرأنا قصص الحكماء والمفكرين لوجدنا أن أحدهم يفكر في السؤال أو الفكرة فترة زمنية تتراوح بين النصف ساعة إلى الثلاث الساعات قبل أن يجيب؛ والسبب ليس أن المفكر لا يعرف الإجابة بل إنه يحاول تجميع الأدلة الدامغة في ذهنه وترتيب المقدمات ويتخيل الحوار مع الطرف الآخر، إنه فقط يُنضج فكرته كما ينضج أحدنا خبزه.</span></p>

<p><span style="color:#000000">إنه يتخيل الأصوات والأساليب، وكيف يسد النوافذ والأبواب على خصمه فلا يهرب منه.</span></p>

<p>&nbsp;</p>

<p><span style="color:#000000">عندما يسألك أحدهم عن شيء أنت مهتم به وفي مجال اختصاصك فأفضل من قول: لا أدري. أن تقول: دعني أفكّر في الأمر وابحث ثم أجيبك، بشرط أن تفعل ذلك و تفي بوعدك، وإلا فقل لا أدري.</span></p>

<p><span style="color:#000000">&nbsp;</span></p>

<p><span style="color:#000000"><strong>أساليب التوصيل والتفكير بوضوح ودقة:</strong></span></p>

<ul>
	<li style="list-style-type:disc"><span style="color:#000000">تحديد الكلمات المناسبة.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">إتقان مهارات النحو والصرف.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">توظيف أساليب البلاغة في التعبير عن الأفكار.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">التعبير بكثافة وتفاصيل داخل الذهن عن الفكرة ، ثم التعبير عنها بوضوح وبأقل الكلمات شفهيًا أو كتابيًا.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">وضوح الفكرة للآخرين تدل على فكر منظّم ومتسق ومترابط وواضح، وتشوش وغموض الفكرة يدل على فكر فوضوي غامض مضطرب.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">وضح الأفكار التجريدية بأمثلة مادية محسوسة.</span></li>
	<li style="list-style-type:disc"><span style="color:#0000ff">حضّر، ثم حضّر، ثم حضّر</span><span style="color:#000000"> أفكارك قبل التحدث عنها أو كتابتها.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">كرّر الكلمات والجمل المهمة للأفكار المعقدة؛ لأجل تمكين السامع من فهمها وحفظها واستيعابها، وعن&nbsp; أنس رضي الله عنه عنِ النبيِّ صلى الله عليه وسلم: &laquo;أَنَّهُ كَانَ إِذَا تَكَلَّمَ بِكَلِمَةٍ أَعَادَهَا ثَلَاثًا؛ حَتَّى تُفْهَمَ عَنْهُ، وَإِذَا أَتَى عَلَى قَوْمٍ فَسَلَّمَ عَلَيْهِمْ، سَلَّمَ عَلَيْهِمْ ثَلَاثًا&raquo; - صحيح البخاري.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">افهم فكرتك واشرحها لنفسك قبل أن تشرحها لغيرك.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">لا تستعجل في التعبير عن الفكرة أمام الآخرين، دعها تنضج أمام نفسك.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">لا تتحدث في كل شيء وعن أي شيء بلا فائدة وهدف.</span></li>
	<li style="list-style-type:disc"><span style="color:#000000">اقتصد في كلماتك فخير الكلام ما قل ودل.</span></li>
</ul>

<p><br />
<br />
&nbsp;</p>

<p><span style="color:#000000"><strong>مقياس عادة التفكير والتواصل الواضح والدقيق</strong></span></p>

<p><span style="color:#000000">أيها القارئ الكريم أمامك مقياس لقياس العادة العقلية (التفكير والتواصل الواضح والدقيق)، يتكون من ست سمات، والمطلوب هو إجابتك عليها، ومن ثم تقييم نفسك، وفهم مستواك الحقيقي في ممارسة هذه العادة، ومن ثم تطوير السمة الناقصة لديك وتنمية السمة التي تتفوق فيها:</span></p>

<p>&nbsp;</p>

<div>
<table cellspacing="0" style="border-collapse:collapse; border:none; table-layout:fixed; width:602px">
	<tbody>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000"><strong>السمات</strong></span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000"><strong>غالبًا</strong></span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000"><strong>أحيانًا</strong></span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000"><strong>أبدًا</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000">أعبّر بكثافة وتفصيل في ذهني، وباختصار ووضوح في الخارج.</span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000">أكثر من شخص أخبرني: بأن شرحي للأفكار دائمًا واضح وبسيط ومفهوم.</span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000">اهتم بالفكرة حتى تكتمل وتنضج ولا أتركها سريعًا.</span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000">استخدم الاستعارات والتشبيهات البلاغية كثيرًا في حديثي.</span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000">أكرّرالجمل المعقدة أو المهمة أو عند ظني أن السامع لم يسمعها جيدًا.</span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">
			<p><span style="color:#000000">أفكر في كلمات مناسبة قبل أن أتحدث.</span></p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p><br />
&nbsp;</p>"